### Import Libraries

In [83]:
# importing the Libraries
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import time

### What we want to scrape

In [84]:
# defining empty lists for each job details
job_name = []
company_name = []
experience = []
when_posted = []
city =[]
job_url =[]

### Scraping the data

In [85]:
# Running it on 100 pages 
pages = [*range(1, 101, 1)]

# looping over each page
for page in pages:
    #creating urls for each page
    sources = requests.get('https://www.shine.com/job-search/jobs-in-mumbai-{}'.format(page)+'?loc=Mumbai')
    
    #parsing the whole page
    soup = BeautifulSoup(sources.content,"html.parser")
    
    # looping over each card in a single page
    for card in soup.findAll( 'li',{"itemprop":"itemListElement"}):
        
        # getting the job_tiles from each card and appending in the job_name list
        for a in card.findAll('a','job_title_anchor'):
            try:
                job_name.append(a.text)
            except:
                job_name = ""

        # getting the company names from each card and appending in the company_name list
        for b in card.findAll('span',"result-display__profile__company-name"):
            try:
                company_name.append(b.text.strip())
            except:
                company_name = ""

        # getting the job_tiles from each card and appending in the job_name list
        for c in card.findAll('li',"w-30 mr-10 result-display__profile__years"):
            try:
                experience.append(c.text.strip())
            except:
                experience = ""

        # getting when the job was posted from each card and appending in the when_posted list
        for d in card.findAll('li',"w-30 mr-10 result-display__profile__date"):
            try:
                when_posted.append(d.text.strip())
            except:
                when_posted = ""

        # getting the job_url from each card and appending in the job_url list
        for e in card.findAll('a','job_title_anchor'):
            try:
                job_url.append("https://www.shine.com" + e.get('href'))
            except:
                job_url = ""

### Creating dataframe from the scraped data

In [86]:
# creating the dataframe and assigning each column with the data from the lists 

df = pd.DataFrame({
    'job_title': job_name,
    'company_name':company_name,
    'experience':experience,
    'when_posted':when_posted,
    'job_url':job_url
    })

In [87]:
# printing the dataframe and its shape
print(df.shape)
df.head()

(2000, 5)

,job_title,company_name,experience,when_posted,job_url
0,Business analyst -Taxation,Infosys Limited,4 to 6 Yrs,2 Hours ago,https://www.shine.com/jobs/business-analyst-ta...
1,Hiring For India's biggest online investment p...,Quess Corp (Magna Infotech),1 to 5 Yrs,5 Hours ago,https://www.shine.com/jobs/hiring-for-indias-b...
2,Webmethods Developer,HARJAI COMPUTERS PRIVATE LIMITED,3 to 8 Yrs,18 Hours ago,https://www.shine.com/jobs/webmethods-develope...
3,Urgent Hiring for Sr.Relationship Manager Nort...,RELIANCE NIPPON LIFE INSURANCE COMPANY LIMITED,1 to 6 Yrs,18 Hours ago,https://www.shine.com/jobs/urgent-hiring-for-s...
4,Urgent Hiring for Deputy Chief Manager Sustain...,Aditya Birla Management Corporation Pvt. Ltd.,5 to 8 Yrs,18 Hours ago,https://www.shine.com/jobs/urgent-hiring-for-d...

### csv file generated

In [88]:
# saving the dataframe as csv file
df.to_csv('shine_data.csv')